header.header {
  background: var(--blue);
  padding-top: 2rem;
  
  > div {
    max-width: 720px;
    margin: 0 auto;

    padding: 2rem 1rem 12rem;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2rem;
    color: #fff;
  }
}
